<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Backend
    </title>
    <link
        rel="stylesheet"
        href="css/app.css"
    />
    <script
        src="https://kit.fontawesome.com/c9646552b7.js"
        crossorigin="anonymous"
    ></script>
</head>
<body
    class="bg-gray-300"
>

<nav
    class="flex items-center justify-between flex-wrap bg-teal-500 px-6"
>
    <div
        class="flex items-center flex-shrink-0 text-white mr-6"
    >
        <span
            class="font-semibold text-xl tracking-tight"
        >
            SimplyCMS
        </span>
    </div>


    <div
        class="block lg:hidden"
    >
        <button
            class="flex items-center px-3 py-2 text-teal-200 border-teal-400 hover:text-white hover:border-white"
        >
            <i
                class="fal fa-bars"
            ></i>
        </button>
    </div>


    <div
        class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
    >
        <div
            class="hover:bg-teal-600 text-gray-100 hover:text-white p-6"
        >
            <a
                href="#"
                class="block lg:inline-block lg:mt-0 text-xl"
            >
                <i
                    class="fal fa-pencil mr-1"
                ></i>
                CMS
            </a>
        </div>
        <div
            class="hover:bg-teal-600 text-gray-100 hover:text-white p-6"
        >
            <a
                href="#"
                class="block lg:inline-block lg:mt-0 text-xl"
            >
                <i
                    class="fal fa-cogs mr-1"
                ></i>
                Settings
            </a>
        </div>
        <div
            class="hover:bg-teal-600 text-gray-100 hover:text-white p-6 dropdown-trigger"
        >
            <a
                href="#"
                class="block lg:inline-block lg:mt-0 text-xl"
            >
                <i
                    class="fal fa-puzzle-piece mr-1"
                ></i>
                Plugins
                <i
                    class="fal fa-chevron-down ml-1 dropdown-icon"
                ></i>
            </a>
        </div>
    </div>

    <div
        class="hover:bg-teal-600 text-gray-100 hover:text-white p-6"
    >
        <a
            href="#"
            class="block lg:inline-block lg:mt-0 "
        >
            Log Out
        </a>
    </div>
</nav>
<div
    class="bg-white text-black dropdown-menu"
>
    <a
        href="#"
        class="block"
    >
        Plugins
    </a>
</div>
</body>
<script
    src="{{ 'js/app.js'|asset }}"
></script>
</html>
